# 1. Protect Store Data (Colors, Fonts, App Embeds)
config/settings_data.json       merge=ours

# 2. Protect Page Templates (JSON Data)
templates/*.json                merge=ours
templates/customers/*.json      merge=ours

# 3. Protect Section Groups (JSON Data)
sections/*.json                 merge=ours

# 4. Protect Main Layout (HTML Shell)
layout/theme.liquid             merge=ours
